
@{
    ViewBag.Title = "OrderConfirm";
}

<div class="container">
    <p>Đơn hàng của quý khách chúng tôi đã nhận được. Công ty sẽ liên hệ với quý khách trong thời gian sớm nhất!</p>
    <p>@Html.ActionLink("Quay về trang chủ", "Index", "Home")</p>
</div><h2>OrderConfirm</h2>

